<div class="container" style="margin:0 auto ;">

  <div class="jumbotron">
    <h1 class="display-4 text-center"> {{nombre}} <img src="../../assets/images/icoAngular.png" alt=""></h1>
    <p class="lead">SINGLES PAGES APPLICATION´s</p>
    <hr class="my-4"><img src="../../assets/images/web_earth_planet_19311.png" alt="">
    <p>Las herramientas principales para el desarrollo de Angular serán:</p>
    <ul class="list-group">
      <li class="list-group">🧨 Navegador(Entorno Cliente)- Crome usaremos como sustentador de nuestro servidor</li>
      <li class="list-group">🧨 Editor de texto[codigo]- Visual Studio Code</li>
      <li class="list-group">🧨 Node.Js especificamente via NPM</li>
      <li class="list-group">🧨 angularCli, como set de herramientas para la consola que nos facilita las
        directivas en las que trabaja Angular</li>
    </ul><br>
  </div>
  <a class="btn btn-danger btn-lg centrar" href="#" role="button">Aprende con Nosotros</a>
</div>
