<div class="card text-center">
    <div class="card-header">
        ¿QUÉ ES ANGULAR?
    </div>
    <div class="card-body">
        <p>
            🎈 Basicamente es un FrameWork de JavaScript, que nos permite crear las
            famosas Singles Page Application(SPA´s)
            Esto significa que con este tipo de FW, nunca va a desarrollar varias paginas
            ni a comunicarse entre otras paginas. Nos ofrece mayor eficacia y elegancia.
        </p>

        <a href="#" class="btn btn-danger">Volver</a>
    </div>
    <div class="card-footer text-muted"><br>
        <footer class="blockquote-footer"> Realizado por:
            <cite class="source-title">a 7 o</cite>
        </footer>
    </div>
</div>